<div class="progress-bar progress-bar-success" role="progressbar"></div>
<div class="progress-bar progress-bar-danger" role="progressbar"></div>
<div class="progress-bar progress-bar-untested" role="progressbar"></div>
