<footer class="footer">
  <nav class="navbar">
    <div class="container-fluid">
      <div class="navbar-header">
        <img src="/assets/images/logo-muted.png" alt="logo" />
      </div>

      <ul class="nav navbar-nav pull-right">
        <li><a class="navButton"href="http://www.mitre.org" target="_blank">The MITRE Corporation</a></li>
        <li><a class="navButton" href="http://www.hl7.org/implement/standards/FHIR-Develop" target="_blank">HL7's FHIR</a></li>
        <li><a class="navButton" href="http://www.cms.gov/Regulations-and-Guidance/Legislation/EHRIncentivePrograms/Meaningful_Use.html" target="_blank">Meaningful Use</a></li>
        <li><a class="navButton" href="https://github.com/fhir-crucible/" target="_blank"><i class="fa fa-lg fa-fw fa-github"></i> Source</a></li>
      </ul>

    </div>
  </nav>
</footer>
