    <div class="row">
      <div class="col-md-7">
        <table class="table table-hover report-table nav nav-stacked">
          <tbody>

              {{results-row errorResult=issue}}

          </tbody>
        </table>
      </div>

      <div class="col-md-5 tab-content details">
        {{#if issue}}
        yo
        {{/if}}
      </div>
    </div>