<div class="failed-test">
  <div class="test-id">
    {{testId}}
    <span class="tag">{{tag}}</span>
  </div>

  <div class="test-method">
    {{testMethod}}
  </div>

  <div class="row test-stats">
    <div class="col-md-4 test-stats-label">
     Test Validates
    </div>

    <div class="col-md-8 test-stats-validates">
      TEST VALIDATES
    </div>

    <div class="col-md-4 test-stats-label">
      Links
    </div>

    <div class="col-md-8 test-stats-links">
      LINKS
    </div>

    <div class="col-md-4 test-stats-label">
      Data
    </div>

    <div class="col-md-5 test-stats-data">
      DATA
    </div>

    <div class="col-md-3">
      <button class="btn" {{action "CURL"}}>CURL</button>
    </div>
  </div>

  <hr>
</div>
