<div class="failure-inspector">
  <div class="failure-inspector-starburst">
    {{starburst-chart data=chartData showHeader=false}}
  </div>

  <div class="failure-inspector-message">
    {{issue.key}}
  </div>
</div>