<div class="col-md-4 col-md-offset-1 spec-title">{{title-case category.name}}</div>
<div class="col-md-4 spec-bar-graph">{{category-bar-graph category=category}}</div>
<div class="col-md-3 spec-percent-passing">{{percentPassing}}%</div>
