<div class="row server-fhir-specification">
  <div class="col-md-6 spec-starburst-chart">
    <div class="starburst-chart"></div>
    <div class="starburst-chart-legend"></div>
  </div>

  <div class="col-md-6 spec-details">
    <div class="percent-supported"></div>
    <div class="row">
      <div class="col-md-1 spec-icon"></div>
      <div class="col-md-2 spec-title"></div>
      <div class="col-md-6 spec-bar-graph"></div>
      <div class="col-md-3 spec-percent-passing"></div>
    </div>
  </div>
</div>
