<div class="row server-fhir-specification">
  <div class="col-md-6 spec-starburst-chart">
    <div class="starburst-chart">{{starburst-chart}}</div>
    <div class="starburst-chart-legend"></div>
  </div>

  <div class="col-md-6 spec-details">
    <div class="row percent-supported">
      <div class="col-md-2 percent-supported-value">
        {{percentSupported}}%
      </div>

      <div class="col-md-10 percent-supported-text">
        of the FHIR Specification is currently supported by this server
      </div>
    </div>
    <div class="row spec-headers">
      <div class="col-md-2 col-md-offset-1">Specification</div>
      <div class="col-md-3 col-md-offset-6">% Passing</div>
    </div>
    <div class="row spec-table">
      {{#each data.children as |specCategory|}}
        <div class="col-md-1 spec-icon">(icon)</div>
        <div class="col-md-2 spec-title">{{specCategory.name}}</div>
        <div class="col-md-6 spec-bar-graph">(bar-graph)</div>
        <div class="col-md-3 spec-percent-passing">{{percentPassing}}</div>
      {{/each}}
    </div>
  </div>
</div>
