.btn {
  height: 34px;
  width: 100%;
  background-color: $brand-secondary;
  border-color: $brand-secondary;
  color: $brand-tertiary;
  &:focus {
    background-color: $brand-secondary;
    border-color: $brand-secondary;
    color: $brand-tertiary;
    outline: none;
  }
  &:hover{
    color: $brand-tertiary;
    background-color: darken($brand-secondary, 11%);
    border-color: darken($brand-secondary, 11%);
    text-decoration: none;
  }
  &:active:focus{
    outline: none;
  };
  a {
    color: $brand-tertiary;
    &:hover{
      color: $brand-tertiary;
      text-decoration: none;
    }
  }
  &.secondary{
    font-size: 12px;
    height: 30px;
    background-color: white;
    border-color: $brand-accent;
    color: $brand-accent;
    &:hover{
      background-color: $brand-accent;
      color: white;
    }
    &:active{
      background-color: $brand-accent;
      color: white;
    }    
  }
}