.container.main{
  margin-top: 50px;
}

.palette{
  text-align: center;
  background-color: $brand-tertiary;
  border-radius: 10px;
  padding: 60px;
  margin-bottom: 50px;
  &.report{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  &.user{
    text-align: left;
    &.analytics{
      #addServerInput{
        display:none;
      }
      min-height: 200px;
    }
    &.header{
      min-height: 200px;
    }

    &.dash{
      min-height: 500px;
    }
  }
}

.tri-row {
  text-align: center;
  margin: 40px 0;
  margin-bottom: 200px;
  .palette{
    padding: 20px;
    min-height: 320px;
    margin-top: 30px;
  }
}

/*TABBED DATA*/
/* START: 3 tabs for tests, conformance, heat map */
.tabbed-data{
  font-size: 20px;
  font-weight: 50;
  display: inline-block;
  width:33%;
}

.tabbed-data-container{
  margin-top: 40px;
}

.nav-tabs > li > a{
  color: $brand-primary;
}
/*END*/

.picture{
  text-align: center;
  margin-bottom: 40px;
  img{
    padding: 20px;
  }
}

.word-wrap{
  overflow:hidden;
  word-wrap:break-word;
}


.add_server_button{
  float:right;
  &:hover{
    font-size: 20px;
  }
}

#serverList{
  font-size: 16px;
  color: $brand-primary;
  & .btn{
    width: 100px;
    height: 25px;
    padding: 0px;
    display: none;
  }  
  & .clickable-list-item{
    &:hover{
      font-weight: bold;
      font-size: 20px;
      & .btn{
        display: inline-block;
      }  
    }
    &.active{
      font-weight: bold;
      font-size: 20px;
    }
  }
}

.metadata-selector{
  .nav-pills > li > a{
    color: $brand-primary;
    border-radius: 2px;
    padding: 5px 10px;
  }
  .nav-pills > li.active > a{
    background-color: #eeeeee;
    color: $brand-primary;
    &:focus{
      background-color: #eeeeee;
    }
    &:hover{
      background-color: #eeeeee;
    }
  }
}
