.conformance-badge-popover {
  opacity: 0;
  cursor: default;
}

.server.selectBox{
  margin-bottom: 30px;
  text-align: left;
  color: $brand-accent;
  font-size: 20px;

  button {
    border: none;
    font-size: 16px;
    text-align: left;
  }
}

.popover-js{
  width: 200px;
}

.server-details {
  height: 60px;
  border-radius: 10px;
  margin: 50px 0;

  .server-icon {
    font-size: 55px;
    line-height: 60px;
    color: $brand-accent;
    text-align: right;
  }

  .server-url-name {
    text-align: left;
    line-height: 26px;
    padding: 5px 0 0 0;

    .server-name {
      font-size: 18px;
      color: $brand-primary;
    }
    .server-url {
      a{color: $brand-primary;}
    }
  }
}
