.test-results {
	.pass, .fail, .skip, .error {
		font-weight: bold;
		text-transform: uppercase;
	}
	.pass {
		color: #28BA0F;
	}
	.fail {
		color: #B71817;
	}
	.error {
		color: #4B0082;
	}
	.skip {
		color: #00E1E1;
	}
	.warning {
		background-color: #FFFFAF;
		color: #C3C2C2;
	}
	.details {
  		border: 1px solid #F5F5F5;
  		min-height: 247px;
  		max-height: 500px;
  		margin-top: 50px;
  		overflow: auto;
	}
}

.conformance-badge-popover {
  opacity: 0;
  cursor: default;
}

.server.selectBox{
	margin-bottom: 30px;
	text-align: left;
}