.conformance-badge-popover {
  opacity: 0;
  cursor: default;
}

.server.selectBox{
  margin-bottom: 30px;
  text-align: left;
  color: $brand-accent;
  font-size: 20px;

  button {
    border: none;
    font-size: 16px;
    text-align: left;
  }
}

.popover-js{
  width: 200px;
}

// ------------------------- SERVER DETAILS -------------------------------- //

.server-details {
  height: 60px;
  border-radius: 10px;
  margin: 50px 0;

  .server-icon {
    font-size: 55px;
    line-height: 60px;
    color: $brand-accent;
    text-align: right;
  }

  .server-url-name {
    text-align: left;
    line-height: 26px;
    padding: 5px 0 0 0;

    .server-name {
      font-size: 18px;
      color: $brand-primary;
    }
    .server-url {
      a{color: $brand-primary;}
    }
  }
}

// ------------------------- FHIR SPECIFICATION STARBURST ------------------ //

.server-fhir-spec-display {
  margin-bottom: 50px;
}

.server-fhir-specification {
  .spec-starburst-chart {
    padding: 0 40px 0 40px;
  }

  .spec-details {
    .percent-supported {
      margin: 20px;

      .percent-supported-value {
        font-size: 45px;
        line-height: 55px
      }

      .percent-supported-text {
        text-align: left;
        padding-left: 40px;
        font-size: 19px;
      }
    }

    .spec-headers {
      margin-bottom: 15px;
      text-align: left;

      .spec-headers-specification {
        margin-left: 32px;
        text-decoration: underline;
      }

      .spec-headers-passing {
        text-align: right;
        text-decoration: underline;
      }
    }

    .spec-icon{
      font-size: 24px;
      line-height: 24px;
    }

    .spec-title{
      text-align: left;
    }

    .spec-bar-graph{}
    .spec-percent-passing{}
  }
}

// ------------------------- SERVER SUMMARIES ------------------------------ //

.server-summaries {
  margin: 15px;
  background-color: $brand-tertiary;
  border-radius: 10px;
  min-height: 920px;
  text-align: center;

  .summary {
    padding: 5px;
  }

  .server-summary-details {
    margin: 10px;
    margin-bottom: 0px;

    .server-name {

    }

    .percent-passed {
      font-weight: bold;
    }
  }

  .summary-time-details {
    margin-bottom: 10px;
    line-height: 1em;

    .server-time {
      font-size: .6em;
      color: $base-header-small;
    }
  }
}
