$brand-primary: #505152;
$brand-secondary: #D85D20;
$brand-tertiary: #FFFFFF;
$brand-accent: #7F9FC5;
$background: #F9F9F9;

$failure: #B71817;
$success: #28BA0F;

$font-size-h1: 30px;
$result-pass: #28BA0F;
$result-fail: #B71817;
$result-error: #4B0082;
$result-skip: #00E1E1;
$result-warning: #FFFFAF;
