<h1>Servers</h1>

<table class="table">
  <tbody>
    {{#each controller as |server|}}
      <tr>
          <td>
            {{server.url}}
          </td>
          <td>
            {{#link-to "server" server}}<button class="btn btn-primary">Test</button>{{/link-to}}
          </td>
      </tr>
    {{/each}}
  </tbody>
</table>
