<h1>Servers</h1>

<table class="table">
  <tbody>
    {{#each model as |server|}}
      <tr>
          <td>
            {{server-details server=server}}
          </td>
          <td>
            <button class="btn secondary" {{action "deleteServer" server}}>Delete</button>
          </td>
          <td>
            {{#link-to "servers.show" server}}<button class="btn btn-primary">Test</button>{{/link-to}}
          </td>
      </tr>
    {{/each}}
  </tbody>
</table>
