<div class="container main">
  <div class="row section-large">
    <div class="col-md-12">
      <div class="palette">
        <h1>Enter a FHIR Interface URL to begin testing</h1>
        <form class="row">
          <div class="col-md-10">
            <div class="form-group">

              {{input action="submit" value=url class="form-control" placeholder="Please enter FHIR Server URL"}}
            </div>
          </div>
          <div class="col-md-2">
            <button {{action "submit"}} class="btn orange_btn">Begin</button>
          </div>
        </form>
        <p class="helper_text">Each FHIR Interface test will first generate a conformance statement. Based on a conformance, a given set of recommended tests will be shown to the user.</p>
      </div>
    </div>
  </div>
</div>
