<div class="container main">
  <div class="palette row">
    <div class="col-md-10 server-show-details">
      {{server-details server=server}}
    </div>
    <div class="col-md-2 action-buttons">
      <button class="btn" {{action "executeTests"}}>Execute Tests</button>
      <button class="btn" {{action "testRunsPage"}}>Test Results</button>
    </div>
    <div class="col-md-12 server-fhir-spec-display">
      {{server-fhir-specification data=server.summary suites=suites hasFailures=true}}
    </div>
  </div>
</div>
