{{#if enableHeader}}
  {{crucible-header session=session invalidateSession="invalidateSession" openModal="openModal"}}
{{/if}}
{{outlet}}
{{#if enableFooter}}
  {{crucible-footer}}
{{/if}}

{{outlet 'modal'}}

<div class="modal fade" id="loading-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body loading">
        <h4>Please wait...</h4>
      </div>
    </div>
  </div>
</div>
