<h4>Recent Results</h4>
<table class="table">
  <thead>
    <th>
      Test Name
    </th>
    <th>
      # passed
    </th>
    <th>
      # failed
    </th>
    <th>
      Date
    </th>
  </thead>
</table>
